include ../header
include ../nav

main.page-cart-empty.d-flex.flex-column.justify-content-center.align-items-center
  h2.py-5.letter-spacing Your cart
  p.text-muted Your cart is currently empty.
  a(href="",class="btn btn-danger text-uppercase") Continue Shopping

include ../footer