include ../header
include ../nav

mixin cartItem(img)
	.media.search-item
		img.mr-3(src=img, alt="", width="95")
		.media-body.align-self-center
			h6.mt-0 Alcee Chair
			a.btn.btn-outline-danger.btn-sm.text-uppercase Remove

		
main.search-results
	h4.text-center.letter-spacing.py-5 Your cart

	.container
		table.table.cart-table
			thead
				tr 
					th(scope="col") Product
					th(scope="col") Price
					th(scope="col") Quantity
					th(scope="col") Total
			tbody
				tr.bb.pt-4.pb-4
					td
						+cartItem('assets/images/cart-item-1.jpg')
					td Rs.4,500
					td <span class="d-inilne d-sm-none pr-5">Quantity</span> <input type="number" min="0" value="1" class="text-center">
					td Rs.4,500
			
		section.text-right
				p Grand Total <strong>Rs. 7,399</strong>
		section.text-right
					a.btn.btn-light.mr-3(href="#") Continue Shopping
					a.btn.btn-danger(href="#") Check Out

include ../footer