include ../header 
include ../nav 

section.banner
  .card.bg-dark.border-0.rounded-0.text-center.text-white
    img(src="assets/images/splash.jpg", alt="")
    .card-img-overlay.align-items-center.d-flex.flex-column.justify-content-center
      h1.card-title WHERE WOOD MEETS ARTISTS
      h4.card-text We just dont create things, we build them with our bare hands. 
      a(href="#", class="btn btn-light mt-3") SHOP NOW

section.home-collection-list.mt-5
  .container
    h5.home-section-header.text-center.mb-5 Collection List
    .row
      - var collections = ['assets/images/collection-rug.jpg','assets/images/collection-bean-bag.jpg','assets/images/collection-shelf.jpg','assets/images/collection-rug.jpg','assets/images/collection-bean-bag.jpg','assets/images/collection-shelf.jpg']
      each collection in collections
        .col-md-6.col-lg-4.mb-4
          a(href="#" class="card text-white bg-dark rounded-0 border-0")
            img(src=collection, alt="", class="img-fluid")
            .card-img-overlay.d-flex.justify-content-center.align-items-center
              h3.card-title Rug

mixin product(img, title, price)
  a(href="#" class="card card--product col-12 col-sm-6 col-md-4 col-lg-3 border-0")
    img.card-img-top(src=img, alt='')
    .card-body
      .card-title
        h6
          | #{title}
      .card-text Rs.#{price}
  

section.home-featured-collection.mt-5
  .container
    h5.home-section-header.text-center.mb-5 Featured Collection
    .row
      - var products = ['assets/images/ss-ll-tl-pmy-3-2_250x250@2x.jpg','assets/images/ss-ll-tl-wmbr-5-1_250x250@2x.jpg','assets/images/ss-ll-tl-wsbr-2_1_250x250@2x.jpg','assets/images/ss-ll-tl-pmy-3-2_250x250@2x.jpg','assets/images/ss-ll-tl-wmbr-5-1_250x250@2x.jpg','assets/images/ss-ll-tl-wsbr-2_1_250x250@2x.jpg']
      each prod in products
        +product(prod, 'Wooden Box Lamp', '2,500.00')

section.home-featured-item.mt-5
  .container
    h5.home-section-header.text-center.mb-5 Featured Collection
    .row
      include ../template-product-single

section.mt-5
  .container
    h5.home-section-header.text-center.mb-5 Online furniture store in pakistan
    .row
      .col-sm-6
        h3 Get the Best Furniture in Pakistan
        p 
        | Woodaction one of the largest online furniture store of Pakistan proudly bring you a large range of furniture items including Bedroom furniture sets, Lamps for sale in Pakistan, Bean Bags in Pakistan.





include ../footer