include ../header.pug
.container
  h2.text-center.mt-5 Sitemap
  hr
  ul.nav.d-flex.justify-content-center
    li.nav-item
      a.nav-link(href='index.html') Home
    li.nav-item
      a.nav-link(href='collection.html') Collection
    li.nav-item
      a.nav-link(href='product.html') Product
    li.nav-item
      a.nav-link(href='cart-empty.html') Cart Empty
    li.nav-item
      a.nav-link(href='cart.html') Cart
    li.nav-item
      a.nav-link(href='search.html') Search
    li.nav-item
      a.nav-link(href='search-results.html') Search Results