include ../header.pug
.container
  h2.text-center.mt-5 Sitemap
  hr
  ul.nav.d-flex.justify-content-center
    li.nav-i
      a.disabled.nav-link(href='') Home
    li.nav-i
      a.nav-link(href='collection.html') Collection
    li.nav-i
      a.nav-link(href='product.html') Product
    li.nav-i
      a.disabled.nav-link(href='') Cart
    li.nav-i
      a.disabled.nav-link(href='') Search
include ../footer.pug
