footer.py-5.mt-3.bt
  .container.text-center
    small We are 100% responsible for images and descriptions of our products. The products delivered will 100% meet the descriptions and images given on the website. No part of these publications can be reproduced, stored or transmitted in any form without any permission in written.

    p &copy; 2017, Wood Action
script(src="assets/js/jquery-3.2.1.slim.min.js")
script(src="assets/js/popper.min.js")
script(src="assets/js/bootstrap.min.js")
script(src="assets/js/script.js")

</body>

</html>