footer.text-center.py-5
  small.text-muted
  | &copy; 2017, Wood Action
script(src="../assets/js/jquery-3.2.1.slim.min.js")
script(src="../assets/js/popper.min.js")
script(src="../assets/js/bootstrap.min.js")

</body>

</html>