.col-sm-6
  .prod-single_img
    img.img-fluid(src="assets/images/ss-ll-tl-sheesham-wmbr-14-2_1024x1024@2x.jpg", alt="")
.col-sm-6
  .prod-single
    h1.prod-single__title Sheesam Table Lamp
    h3.prod-single__price
      del Rs.3,499.00
      |  Rs.2,999.00 Sale
    .prod-signle__cta.mt-4.mb-5
      a.btn.btn-danger.btn-block(href="") Add to cart
    .prod-single__desc
      p Not a big fan of handwork artistry and like lamps in their simplest form?
      p The sheesham wood table lamp can be one of your picks for your living space.
      ul.list-unstyled
        li Material: Sheesham Wood
        li Height: 17inches
        li Weight- 3kg (Approx.)
        li Color: Brown