.col-sm-12.col-md-6
  .prod-single_img.mb-2
    img.img-fluid(src="assets/images/ss-ll-tl-sheesham-wmbr-14-2_1024x1024@2x.jpg", alt="")
  .prod-gallery
    .row
      .col-4.col-sm-3.col-md-4.col-lg-3.mb-3
        a(href="https://loremflickr.com/500/500")
          img(src="http://lorempixel.com/100/100/nature/1")
      .col-4.col-sm-3.col-md-4.col-lg-3.mb-3
        a(href="https://loremflickr.com/500/500")
          img(src="http://lorempixel.com/100/100/nature/1")
      .col-4.col-sm-3.col-md-4.col-lg-3.mb-3
        a(href="https://loremflickr.com/500/500")
          img(src="http://lorempixel.com/100/100/nature/1")
      .col-4.col-sm-3.col-md-4.col-lg-3.mb-3
        a(href="https://loremflickr.com/500/500")
          img(src="http://lorempixel.com/100/100/nature/1")
      .col-4.col-sm-3.col-md-4.col-lg-3.mb-3
        a(href="https://loremflickr.com/500/500")
          img(src="http://lorempixel.com/100/100/nature/1")
      .col-4.col-sm-3.col-md-4.col-lg-3.mb-3
        a(href="https://loremflickr.com/500/500")
          img(src="http://lorempixel.com/100/100/nature/1")
.col-sm-12.col-md-6
  .prod-single
    h2.prod-single__title Sheesam Table Lamp
    h5.prod-single__price
      del.pr-3 Rs.3,499
      span Rs.2,999 Sale
    .prod-signle__cta.my-4
      a.btn.btn-danger.btn-lg(href="") Add to cart
    .prod-single__desc
      p Not a big fan of handwork artistry and like lamps in their simplest form?
      p The sheesham wood table lamp can be one of your picks for your living space.

      h5 Specification
      ul.list-unstyled
        li Material: Sheesham Wood
        li Color: Brown

      h5 Dimension (Approx.)
      ul.list-unstyled
        li Height: 10 inches
        li Width: 17 inches
        li Length: 10 inches
        li Weight: 3kg
      ul.nav.share-produc
        li.nav-item.border
          a.nav-link.text-dark(href="#") <i class="icon-facebook"></i> Share
        li.nav-item.border.mx-3
          a.nav-link.text-dark(href="#") <i class="icon-twitter"></i> Tweet
        li.nav-item.border
          a.nav-link.text-dark(href="#") <i class="icon-pinterest"></i> Pin it
            
script.
  window.addEventListener('load', function(){
    hmc.initGallery();
  });
  
          