/*------------------------------------*\
							General                      
\*------------------------------------*/
body{
	font-family: 'Work Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 600;
}

.letter-spacing{
	letter-spacing: 0.1rem;
}

.bt{
	border-top: 1px solid #E8E9EB;
}

.bb{
	border-bottom: 1px solid #E8E9EB;
}

del{
	color: #777777;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yol16i');
  src:  url('fonts/icomoon.eot?yol16i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yol16i') format('truetype'),
    url('fonts/icomoon.woff?yol16i') format('woff'),
    url('fonts/icomoon.svg?yol16i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e900";
  color: #25d366;
}
.icon-wechat:before {
  content: "\e901";
  color: #7bb32e;
}
.icon-viber:before {
  content: "\e902";
  color: #7c529e;
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-facebook:before {
	content: "\ea91";
	color: #3b5998;
}
.icon-twitter:before {
	content: "\ea96";
	color: #1da1f2;
}
.icon-pinterest:before {
	content: "\ead1";
	color: #bd081c;
}

/*------------------------------------*\
							Navigation                      
\*------------------------------------*/
.contact-bar{
	flex-basis: 100%;
	text-align: right;
}

.contact-bar .whatsapp{
	text-decoration: none;
	color: rgba(0,0,0,.7);
}

.contact-bar .whatsapp:hover{
	color: rgba(0,0,0,.5);
}

/*------------------------------------*\
						Homepage Rules                      
\*------------------------------------*/
.banner{
	max-height: 450px;
	overflow: hidden;
}

.banner-home .card-img-overlay{
	background-color: rgba(0,0,0,.3);
}

.home-section-header{
	text-transform: uppercase;
}

.home-collection-list .card{
	max-height: 350px;
	overflow: hidden;
}

.home-collection-list .card:hover{
	opacity: .6;
}

/*------------------------------------*\
						Collection Rules                      
\*------------------------------------*/
.card--product{
	color: #000;
}

.card--product:hover{
	opacity: 0.6;
	color: #000;
	text-decoration: none;
}

.collection-meta form{
    height: 55px;
}

.prod-single__det h1{
	font-size: 2.1875rem;
}
/*------------------------------------*\
							Search Rules                      
\*------------------------------------*/
.page-search{
	min-height: 75vh;
}

.page-search--result{
	/* min-height: 20vh; */
	border-bottom: 1px solid #E8E9EB;
}

.search-item h6{
	font-weight: normal;
	font-size: 1.125rem;
}

.search-item--price{
	font-size: 1.125rem;
	font-weight: 600;
}

/*------------------------------------*\
			Cart Rules                      
\*------------------------------------*/
.page-cart-empty{
	min-height: 75vh;
}

.cart-table td{
	border: none;
}

.cart-table tbody td{
	vertical-align: middle;
}

.cart-table tbody tr td:first-child{
	width: 50%;
}

.cart-table tbody tr td:not(:first-child),
thead th:not(:first-child){
	text-align: center;
}

/*------------------------------------*\
			Media Queries                      
\*------------------------------------*/

@media (min-width: 576px){
	.cart-table input[type='number'] {
    width: 70%;
	}
}

@media (min-width: 768px){
	.cart-table input[type='number'] {
    width: 50%;
	}
}

@media (min-width: 991px){
	.cart-table input[type='number'] {
    width: 20%;
	}
}

@media (max-width: 576px){
	.logo{
		width: 250px;
	}
	.contact-bar{
		text-align:left;
	}

	.cart-table, .cart-table body{
		display: block;
	}

	.cart-table tbody{
		border-top: 1px solid #E8E9EB;
	}

	.cart-table thead{
		display: none;
	}

	.cart-table tr{
		display: flex;
		flex-wrap: wrap;
	}

	.cart-table td{
		padding-left:0;
		padding-right: 0;
		flex-basis: 50%;
		display: block;
	}

	.cart-table td:first-child,
	.cart-table td:nth-child(3){
		flex-basis: 70%;
	}

	.cart-table td:nth-child(2),
	.cart-table td:last-child{
    flex-basis: 30%;
    align-self: center;
	}



	.cart-table input[type='number'] {
    width: 20%;
	}
	
}