/*------------------------------------*\
							General                      
\*------------------------------------*/

body{
	font-family: 'Work Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 600;
}

/*------------------------------------*\
						Homepage Rules                      
\*------------------------------------*/
.banner{
	max-height: 450px;
	overflow: hidden;
}

.home-section-header{
	text-transform: uppercase;
}

.home-collection-list .card{
	max-height: 350px;
	overflow: hidden;
}

.home-collection-list .card:hover{
	opacity: .6;
}

/*------------------------------------*\
						Collection Rules                      
\*------------------------------------*/
.card--product{
	color: #000;
}

.card--product:hover{
	opacity: 0.6;
	color: #000;
	text-decoration: none;
}

.collection-meta form{
    height: 55px;
}

.prod-single__det h1{
	font-size: 2.1875rem;
}

.prod-single__cta{

}
